<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-spingsecurity4">
<head>
  <title>Colo Shop Categories</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Colo Shop Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/assets/styles/bootstrap4/bootstrap.min.css">
  <link href="/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
  <link rel="stylesheet" type="text/css" href="/assets/plugins/OwlCarousel2-2.2.1/animate.css">
  <link rel="stylesheet" type="text/css" href="/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/categories_styles.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/categories_responsive.css">
</head>

<body>

<div class="super_container">



  <header th:fragment="header" class="header trans_300">


    <div class="main_nav_container">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-right">

            <nav class="navbar">
              <ul class="navbar_menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/products">MenuShop</a></li>
                <li><a href="/thongtindonhang">My Order</a></li>

              </ul>

            </nav>
            <div class="logo_container">
              <a href="/home"><img src="/img/logo.png" height="140px" alt=""></a>
            </div>
            <nav class="navbar1">
              <ul class="navbar_menu1">
                <li class="checkout" style="right: 35px; position: absolute; margin-top: 17px; top: 25px;">
                  <a href="/cart">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                </li>
                <li sec:authorize="isAuthenticated()" style="
    position: absolute;
    top: 35px;
">
                  <form th:action="@{/logout}"  method="post">
                    <span th:text="${#authentication.principal.name}"></span>
                    <!-- In ra tên người dùng -->

<!--                    <input type="hidden" th:value="${#authentication.principal.id}" name="userId" />-->
                    <!-- In ra ID người dùng và lưu trữ trong input hidden (nếu cần) -->

                    <button class="btn btn-outline-danger" type="submit">Logout</button>
                  </form>

                </li>
                <li style="position: absolute;top: 35px;" sec:authorize="!isAuthenticated()">
                  <a class="btn btn-outline-primary" href="/login">Login</a>
                </li>

              </ul>

            </nav>




          </div>
        </div>
      </div>
    </div>

  </header>






  <footer th:fragment="footer" class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
            <ul class="footer_nav">
              <li><a href="#">Blog</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="contact.html">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="footer_nav_container">
            <div class="cr">©2018 All Rights Reserverd. Template by <a href="#">Colorlib</a> &amp; distributed by <a href="https://themewagon.com">ThemeWagon</a></div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div>

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/styles/bootstrap4/popper.js"></script>
<script src="/assets/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/assets/plugins/easing/easing.js"></script>
<script src="/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="/assets/js/categories_custom.js"></script>
</body>

</html>
